// /*****************/
// /*   PEINTURES   */
// /*****************/

@media screen and (min-width: 840px)
	#gallery
		box-sizing: border-box
		margin: 0
		padding: 0
		display: grid
		grid-auto-flow: row dense
		grid-auto-rows: 100px
		grid-gap: 0px
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
		img
			height: 100%
			object-fit: cover
			width: 100%
			z-index: 1
			
			// &:hover::after
			// 	position: absolute
			// 	display: block
			// 	height: 100%
			// 	width: 100%
			// 	content: ""
			// 	background-color: rgba(33, 150, 253, 0.63)
			// 	cursor: pointer
			// 	z-index: 2
				

// réglage hover
#gallery .column
	padding: 0
	position: relative
	top: 0
	bottom: 0
	left: 0
	right: 0
	width: 100%
	height: 100%
	img
		min-height: 100px
	&:hover
		.hover
			display: flex
	.hover
		position: absolute
		margin: auto
		display: none
		height: 100%;
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: 10
		cursor: pointer
		background-color: rgba(33, 150, 253, 0.63)
	.content
		margin: auto
	h3
		color: $gray-lighter
		margin-top: 15px
		margin-bottom: -5px
		text-align: center
	.more
		display: flex
		width: 50px
		height: 50px
		margin: 0 auto
		padding: 0
		border-radius: 100%
		border: 4px solid $gray-lighter
		&:after
			margin: auto
			content: "+"
			color: $gray-lighter
			text-align: center
			font-size: 50px
			position: relative
			top: -10px

// Modal
.modal
	.modal-content
		position: relative
	header
		position: absolute
		right: 0
		top: 15px
		z-index: 10
		.close
			color: $gray-lighter
			text-shadow: 0px 1px 2px #000
			opacity: 0.8
			&:hover
				color: #000
				opacity: 0.5
				text-shadow: none
	header, 
	footer
		border: none
		padding-top: 0
	section
		padding: 0
	img
		border-radius: $border-radius-large $border-radius-large 0 0
	h3, p
		padding-top: 10px
		margin: 0 15px 

// .wrapper 
// 	width: 100%
// 	position: relative
// @media screen and (min-width: 900px)
// 	.wrapper:after 
// 		padding-top: 42.85714285714287%
// 		display: block
// 		content: ''
// 	.wrapper .column
// 		position: absolute
// 		left: 0
// 		top: 0
// 		width: 14.2857142857142857%
// 		float: left
// 		padding: 6px
// 		box-sizing: border-box
// 	.wrapper .column .inner
// 		width: 100%
// 		position: relative
// 	.wrapper .column .inner:after
// 		padding-top: 100%
// 		display: block
// 		content: ''
// 	.wrapper .column .inner:before
// 		content: ' '
// 		display: block
// 		position: absolute
// 		top: 0
// 		left: 0
// 		right: 0
// 		bottom: 0
// 		-webkit-transition: 300ms ease-in-out
// 		transition: 300ms ease-in-out
// 		background-color: rgba(33, 150, 253, 0)
// 	.wrapper .column:hover .hover
// 		display: inline-block
// 	.wrapper .column:nth-child(1)
// 		width: 28.5714285714285714%
// 	.wrapper .column:nth-child(2)
// 		left: 28.5714285714285714%
// 	.wrapper .column:nth-child(3)
// 		left: 28.5714285714285714%
// 		top: 50%
// 		transform: translateY(-50%)
// 	.wrapper .column:nth-child(4)
// 		width: 28.5714285714285714%
// 		left: 42.85714285714286%
// 		top: 0
// 	.wrapper .column:nth-child(4) .inner:after
// 		padding-top: 48.7%
// 	.wrapper .column:nth-child(5)
// 		left: 71.42857142857143%
// 		top: 0
// 	.wrapper .column:nth-child(6)
// 		left: auto
// 		right: 0
// 		top: 0
// 	.wrapper .column:nth-child(7)
// 		left: 71.42857142857143%
// 		top: 50%
// 		transform: translateY(-50%)
// 	.wrapper .column:nth-child(8)
// 		left: auto
// 		right: 0
// 		top: 50%
// 		transform: translateY(-50%)
// 	.wrapper .column:nth-child(9)
// 		width: 28.5714285714285714%
// 		top: auto
// 		left: 0
// 		bottom: 0
// 	.wrapper .column:nth-child(9) .inner:after
// 		padding-top: 48.7%
// 	.wrapper .column:nth-child(10)
// 		left: 28.5714285714285714%
// 		top: auto
// 		bottom: 0
// 	.wrapper .column:nth-child(11)
// 		left: 42.85714285714286%
// 		top: auto
// 		bottom: 0
// 		width: 28.5714285714285714%
// 	.wrapper .column:nth-child(12)
// 		left: auto
// 		top: auto
// 		bottom: 0
// 		right: 0
// 		width: 28.5714285714285714%
// 	.wrapper .column:nth-child(12) .inner:after
// 		padding-top: 48.7%
// // BEAUTY
// body,
// html 
// 	padding: 0
// .wrapper .column .inner
// 	background-size: cover
// 	background-position: center
// #nouvelles .wrapper .column:nth-child(1) .inner
// 	background-image: url('../img/peintures/tableau (1).jpg')
// #nouvelles .wrapper .column:nth-child(2) .inner
// 	background-image: url('../img/peintures/tableau (2).jpg')
// #nouvelles .wrapper .column:nth-child(3) .inner
// 	background-image: url('../img/peintures/tableau (3).jpg')
// #nouvelles .wrapper .column:nth-child(4) .inner
// 	background-image: url('../img/peintures/tableau (4).jpg')
// #nouvelles .wrapper .column:nth-child(5) .inner
// 	background-image: url('../img/peintures/tableau (5).jpg')
// #nouvelles .wrapper .column:nth-child(6) .inner
// 	background-image: url('../img/peintures/tableau (6).jpg')
// #nouvelles .wrapper .column:nth-child(7) .inner 
// 	background-image: url('../img/peintures/tableau (7).jpg')
// #nouvelles .wrapper .column:nth-child(8) .inner
// 	background-image: url('../img/peintures/tableau (8).jpg')
// #nouvelles .wrapper .column:nth-child(9) .inner
// 	background-image: url('../img/peintures/tableau (9).jpg')
// #nouvelles .wrapper .column:nth-child(10) .inner
// 	background-image: url('../img/peintures/tableau (10).jpg')
// #nouvelles .wrapper .column:nth-child(11) .inner
// 	background-image: url('../img/peintures/tableau (11).jpg')
// #nouvelles .wrapper .column:nth-child(12) .inner
// 	background-image: url('../img/peintures/tableau (12).jpg')
// /*second tab*/                
// #anciennes .wrapper .column:nth-child(1) .inner
// 	background-image: url('https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11055800_1556880671238497_1776548525_n.jpg')
// #anciennes .wrapper .column:nth-child(2) .inner
// 	background-image: url('https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11055816_932624596782983_529466754_n.jpg')
// #anciennes .wrapper .column:nth-child(3) .inner 
// 	background-image: url('https://igcdn-photos-g-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11008257_1569363026647030_933015336_n.jpg')
// #anciennes .wrapper .column:nth-child(4) .inner
// 	background-image: url('https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11056045_436886419818172_768672462_n.jpg')
// #anciennes .wrapper .column:nth-child(5) .inner
// 	background-image: url('https://igcdn-photos-g-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11049260_1374759412847590_258656935_n.jpg')
// #anciennes .wrapper .column:nth-child(6) .inner
// 	background-image: url('https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11005276_1414641038838035_1026684390_n.jpg')
// #anciennes .wrapper .column:nth-child(7) .inner
// 	background-image: url('https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11032879_730451393737672_1900382729_n.jpg')
// #anciennes .wrapper .column:nth-child(8) .inner 
// 	background-image: url('https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11008309_1069768239717639_19410808_n.jpg')
// #anciennes .wrapper .column:nth-child(9) .inner
// 	background-image: url('https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/10919595_795737697170495_727510522_n.jpg')
// #anciennes .wrapper .column:nth-child(10) .inner
// 	background-image: url('https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11005073_763217610443223_1974563188_n.jpg')
// #anciennes .wrapper .column:nth-child(11) .inner 
// 	background-image: url('https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/10903752_533893980082103_132962602_n.jpg')
// #anciennes .wrapper .column:nth-child(12) .inner 
// 	background-image: url('https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xap1/t51.2885-15/10483464_355418301328333_1012884493_n.jpg')