//
//  COLOR
//#EF5350
$jc-brand: #D11919
$jc-brand-sec: #EF5350
$jc-site-sec: #2196F3 //  ou 1A83F7
$jc-site-sec-transparent: rgba(33, 150, 253, 0.63)
$jc-bg-dark: #231F20 // #222  = $gray-darker OU #131212  // #231F20
$linkedIn: #5883a0
$youtube: #FF0000
// $gray-base:              #000 
// $gray-darker:            #222
// $gray-dark:              #333
// $gray:                   #555
// $gray-light:             #777
// $gray-lighter:           #eee

$general-space: 20px