/******************/
/*   BIOGRAPHIE   */
/******************/
#biographie h2
    text-align: center
#biographie section
    max-width: 745px
    margin: 60px auto
#biographie #presentation #artiste
    float: right
    width: 180px
    height: auto
    border-radius: 100%
#biographie #presentation p
    display: inline-block
#presentation-content p img
    margin: 10px
@media (max-width:480px)
    #biographie #presentation #artiste
        width: 100%
#biographie #artiste2
    float: left
    margin: 15px 10px 10px 0px